@import '~styles/palette.scss';

.container {
  width: 100%;
  height: fit-content;

  display: flex;
  align-items: center;

  padding-inline: $size_16px;
  background-color: $clr-light;

  .logo {
    font-size: $size_20px;
    color: $clr-red1;
    @include fontFamilyLogo;
  }

  nav {
    position: relative;
    top: 2px;

    font-weight: 500;
    @include fontFamilyLinks;
    padding-left: $size_32px;

    ul {
      display: flex;
      gap: $size_16px;

      a {
        &:hover {
          color: $clr-orange;
        }
      }
    }
  }
}

.active {
  color: $clr-orange;
}
