@import '~styles/palette.scss';

.container {
  position: fixed;
  width: 100%;
  height: $size_64px;

  display: flex;
  align-items: center;

  padding-inline: $size_16px;
  background-color: transparent;

  // box-shadow: 0px 5px 9px -2px rgba(0, 0, 0, 0.4);
  // -webkit-box-shadow: 0px 5px 9px -2px rgba(0, 0, 0, 0.4);
  // -moz-box-shadow: 0px 5px 9px -2px rgba(0, 0, 0, 0.4);

  z-index: 10;

  .logo {
    font-size: $size_20px;
    color: $clr-light;
    @include fontFamilyLogo;
  }

  nav {
    position: relative;
    top: 2px;

    font-weight: 500;
    @include fontFamilyLinks;
    padding-left: $size_32px;

    ul {
      display: flex;
      gap: $size_16px;
      color: $clr-light;

      a {
        &:hover {
          color: $clr-red1;
        }
      }
    }
  }
}

.active {
  text-decoration: underline;
}
