@import '~styles/palette.scss';

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;

  min-height: 45vh;
  @include fontFamilyLogo;
  color: $clr-light;

  h1 {
    font-size: $size_48px;
  }

  h2 {
    @include fontFamilyLinks;
    font-size: $size_20px;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 auto;

  @media (max-width: 500px) {
    flex-direction: column;
  }

  height: 40vh;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.507);
  color: $clr-light;

  .boxContainer {
    display: flex;
    flex-direction: column;
    gap: $size_18px;
    height: 100%;
    width: 33.3%;
    padding: $size_24px;

    border-right: 1px solid $clr-light;
    &:last-child {
      border: unset;
    }

    h3 {
      @include fontFamilyLinks;
      font-size: $size_32px;
    }

    p {
      max-width: 20rem;
    }

    a {
      margin-top: $size_12px;
      width: fit-content;
      button {
        background-color: $clr-light;
        padding: $size_8px $size_24px;
        border: 2px solid $clr-light;
        color: $clr-dark;
        font-size: $size_16px;
        @include fontFamilyLinks;
        cursor: pointer;
      }
    }
  }
}
