@import '~styles/palette.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: stretch;

  width: 100%;
  flex: 1 1 auto;

  background-color: rgba(0, 0, 0, 0.5);
  color: $clr-light;

  .box {
    display: flex;
    flex-direction: column;

    width: 33.3%;
    padding-top: $size_24px;
    padding-inline: $size_24px;
    padding-bottom: $size_48px;

    gap: $size_18px;

    border-right: 1px solid $clr-light-hover;
    &:last-child {
      border: unset;
    }

    h3 {
      @include ff-secondary;
      font-size: $size_32px;
    }

    p {
      max-width: 20rem;
      line-height: 1.55;
    }

    a {
      margin-top: $size_12px;
      width: max-content;

      button {
        @include ff-secondary;
        cursor: pointer;
        font-size: $size_16px;

        border: 2px solid $clr-light;
        padding: $size_8px $size_24px;

        background-color: $clr-light;
        color: $clr-dark;
      }
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-bottom: $size_48px;

    .box {
      margin: 0 auto;
      width: fit-content;
      border: unset;
    }
  }
}
