@import '~styles/palette.scss';

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
  height: $size_256px;
  padding: $size_24px;
  margin-block: $size_48px;

  @include ff-primary;
  color: $clr-light;

  h1 {
    font-size: $size_48px;
  }

  h2 {
    @include ff-secondary;
    font-size: $size_20px;
  }

  .search {
    display: flex;
    height: max-content;
    margin-top: $size_32px;

    input {
      background-color: transparent;
      outline: 1px solid $clr-light;
      border: none;
      color: $clr-light;
      padding: $size_4px $size_8px;
      font-size: $size_20px;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;

      height: $size_48px;
      width: $size_48px;

      background-color: transparent;
      color: $clr-light;
      outline: 1px solid $clr-light;
      border: none;
      cursor: pointer;
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  padding: $size_16px;

  border-top: 1px solid $clr-light;
  background-color: rgba(0, 0, 0, 0.507);
  color: $clr-light;

  .content {
    ul {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 2;
      column-rule: none;
      height: 6050px;
      width: 100%;

      @media (max-width: 510px) {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        min-height: 4000px;
        max-height: fit-content;
      }
      li {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
