@import '~styles/palette.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 auto;

  padding-inline: $size_24px;
  padding-block: $size_32px;
  border-top: 1px solid $clr-light;

  background-color: rgba(0, 0, 0, 0.5);
  color: $clr-light;

  .content {
    width: $size_960px;
    margin: 0 auto;

    section {
      display: flex;
      flex-direction: column;
      gap: $size_4px;

      padding-block: $size_20px;
      padding-inline: $size_12px;

      border-top: 1px solid $clr-light-hover;

      h2 {
        @include ff-secondary;
        font-weight: bold;
        border-bottom: 1px solid $clr-light;
        width: fit-content;
        margin-bottom: $size_8px;
      }
    }

    .desc {
      gap: $size_16px;
    }
  }
}

.capitalize {
  text-transform: capitalize;
}

.bold {
  @include ff-secondary;
  padding-right: $size_4px;
  font-weight: bold;
}
