@import '~styles/palette.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex: 1 1 auto;

  width: 100%;

  border-top: 1px solid $clr-light;
  background-color: rgba(0, 0, 0, 0.5);
  color: $clr-light;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

    margin: 0 auto;
    padding-inline: $size_24px;
    padding-block: $size_32px;
    width: $size_960px;

    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: $size_8px;
      height: fit-content;
      flex: 1 1 33%;
      @include ff-secondary;
      @include transition;
      transition-property: background-color, color, gap;

      // Borders
      border-top: 1px solid $clr-light-hover;
      border-right: 1px solid $clr-light-hover;
      &:nth-child(1) {
        border-left: 1px solid $clr-light-hover;
      }
      &:nth-child(2) {
        border-left: 1px solid $clr-light-hover;
      }
      &:nth-child(3) {
        border-left: 1px solid $clr-light-hover;
        border-bottom: 1px solid $clr-light-hover;
      }
      &:nth-child(6) {
        border-bottom: 1px solid $clr-light-hover;
      }
      &:nth-child(9) {
        border-bottom: 1px solid $clr-light-hover;
      }
      &:nth-child(12) {
        border-bottom: 1px solid $clr-light-hover;
      }

      .image {
        @include transition;
        filter: invert(98%) sepia(6%) saturate(279%) hue-rotate(11deg)
          brightness(93%) contrast(97%);
      }

      @media (max-width: 710px) {
        flex-direction: column;
        flex: 1 1 25%;
        gap: 0;

        &:nth-child(1) {
          border-left: 1px solid $clr-light-hover;
        }
        &:nth-child(2) {
          border-left: 1px solid $clr-light-hover;
        }
        &:nth-child(3) {
          border-left: 1px solid $clr-light-hover;
          border-bottom: unset;
        }
        &:nth-child(4) {
          border-left: 1px solid $clr-light-hover;
          border-bottom: 1px solid $clr-light-hover;
        }
        &:nth-child(6) {
          border-bottom: unset;
        }
        &:nth-child(8) {
          border-bottom: 1px solid $clr-light-hover;
        }
        &:nth-child(9) {
          border-bottom: unset;
        }
        &:nth-child(12) {
          border-bottom: 1px solid $clr-light-hover;
        }
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: $clr-light;
          color: black;
          .image {
            filter: unset;
          }
        }
      }
    }
  }
}
