@import '~styles/palette.scss';

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding-top: $size_48px;
  padding-bottom: $size_64px;
  padding-inline: $size_24px;

  border-top: 1px solid $clr-light;
  background-color: rgba(0, 0, 0, 0.5);
  color: $clr-light;

  .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: $size_128px;
    padding-inline: $size_24px;
    width: 1200px;

    .logo {
      @include ff-primary;
      font-size: $size_32px;
    }

    nav {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      @include ff-secondary;
      gap: $size_24px;

      .header {
        font-size: $size_16px;
        text-transform: uppercase;
        color: $clr-light-hover;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: $size_12px;
        line-height: 1.25;
      }

      a {
        display: flex;
        align-items: center;
        gap: $size_4px;

        width: fit-content;

        font-size: $size_14px;

        @include transition;
        transition-property: text-decoration-color;
        text-decoration: underline;
        text-decoration-color: transparent;

        &:hover {
          text-decoration: underline;
          text-decoration-color: $clr-light;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .content {
      max-width: fit-content;
    }
  }

  @media (max-width: 750px) {
    .content {
      flex-direction: column;
      gap: $size_32px;

      nav {
        width: 100%;
        align-items: center;

        .header {
          font-size: $size_16px;
        }

        ul {
          align-items: center;
        }
      }
    }
  }
}
