@import '~styles/palette.scss';

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
  

  height: $size_384px;
  @include fontFamilyLogo;
  color: $clr-light;

  h1 {
    margin-top: $size_48px;
    font-size: $size_48px;
  }

  h2 {
    @include fontFamilyLinks;
    font-size: $size_20px;
  }

  .search {
    display: flex;
    height: $size_48px;
    margin-top: $size_32px;

    input {
      background-color: transparent;
      outline: 1px solid $clr-light;
      border: none;
      height: $size_48px;
      color: $clr-light;
      padding: $size_4px $size_8px;
      font-size: $size_20px;

      &::placeholder {
        color: $clr-light-hover;
      }
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;

      height: $size_48px;
      width: $size_48px;

      background-color: transparent;
      outline: 1px solid $clr-light;

      color: $clr-light;
      border: none;
      cursor: pointer;
    }

    @media (max-width: 510px) {
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  padding: $size_16px;
  height: fit-content;

  background-color: rgba(0, 0, 0, 0.507);
  color: $clr-light;
  flex: 1 1 auto;

  height: fit-content;

  .content {
    ul {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 2;
      column-rule: none;
      height: 6050px;
      width: $size_256px;

      @media (max-width: 510px) {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        min-height: 5000px;
        max-height: fit-content;
      }
      li {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
